.dropdown-container {
  position: relative;
}

/* Botón del menú desplegable */
.dropdown-button {
  background-color: #290fb9cc;
  color: #cccccc;
  border: 1px solid #cccccc;
  padding: 10px 34px;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  margin-top: -66px;
  z-index: 1000;
}

/* Icono del menú */
.menu-icon {
  margin-right: 5px;
}

/* Contenido del menú desplegable */
.dropdown-content {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #0d0d0ecc;
  border: 1px solid #cccccc;
  border-top: none;
  border-radius: 0 0 5px 5px;
  padding: 10px 0px;
  list-style: none;
  width: 110px;
  display: none;
  z-index: 1000;
  
  margin-top: -20px;
}

/* Enlaces del menú desplegable */
.dropdown-link {
  color: #cccccc;
  text-decoration: none;
  display: block;
  padding: 10px 15px;
  transition: background-color 0.3s ease;
}

.dropdown-link:hover {
  background-color: #f0f0f0;
  color: black;
}

/* Media query para ocultar el menú en pantallas mayores a 768px */
@media screen and (min-width: 769px) {
  .dropdown-container {
    display: none;
  }
}

/* Media query para mostrar el botón del menú en pantallas menores a 768px */
@media screen and (max-width: 768px) {
  .dropdown-container {
    display: block;
  }

  .dropdown-content {
    display: none;
  }

  .dropdown-container.open .dropdown-content {
    display: block;
  }
}
