

.logo-img {
  height: 40px; /* Puedes ajustar la altura según sea necesario */
  max-height: 50px; /* Asegúrate de que el logo no sea demasiado grande */
  position: relative; /* Asegúrate de que el z-index tenga efecto */
  z-index: 1001; /* Asegúrate de que el logo esté por encima del navbar */
  display: flex;
  position: fixed;
  margin-top:  -40px;

  
}
/* Ajuste adicional para asegurar que el logo se alinee correctamente */
.nav-links .logo {
  margin-right: auto; /* Esto asegura que el logo esté alineado a la izquierda y otros elementos a la derecha */
  display: flex;
  align-items: center;
  padding-top: -50px;
}


.navbar {
  background-color: rgb(3, 4, 19);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  padding-left: 65px;
  z-index: 1000; /* Asegúrate de que el navbar esté por debajo del logo */
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
  
}

.brand {
  font-weight: bold;
  font-size: 1.5rem;
}

.nav-links li a {
  text-decoration: none;
  color: rgb(255, 253, 253);
  transition: color 0.3s ease, background-color 0.3s ease;
  padding: 2px 5px;
  box-sizing: border-box;
  border-radius: 8px;
  
}

.nav-links li a:hover {
  color: rgb(255, 253, 253);
  background-color: rgb(73, 41, 253);
}

.active-link {
  text-decoration: underline;
  text-underline-offset: 4px;
  color: blue;
}

.nav-actions {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0;
  padding: 0;
  
}

.email {
  color: rgb(255, 253, 253);
  padding: 2px 5px;
  box-sizing: border-box;
  border-radius: 8px;
}

.email:hover {
  color: rgb(255, 253, 253);
  background-color: rgb(73, 41, 253);
}

.nav-orders {
  color: rgb(255, 253, 253);
  padding: 2px 5px;
  box-sizing: border-box;
  border-radius: 8px;
  
}

.nav-orders:hover {
  color: rgb(255, 253, 253);
  background-color: rgb(73, 41, 253);
}

.cart {
  position: relative;
}

.cart-icon {
  height: 24px;
  width: 24px;
  color: rgb(255, 253, 253);
}

.cart-count {
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  background-color: red;
  color: white;
  border-radius: 50%;
  height: 16px;
  width: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .nav-links {
    display: none; /* Oculta los enlaces de navegación en dispositivos móviles */
  }
 

  .dropdown-container {
    display: block; /* Muestra el menú desplegable en dispositivos móviles */
  }
}

@media (min-width: 769px) {
  .dropdown-container {
    display: none; /* Oculta el menú desplegable en dispositivos grandes */
  }
  
}

@media (max-width: 515px) {
  /* .nav-actions .email, */
  .nav-actions .nav-orders,
 
  .nav-actions .cart {
    display: none; /* Oculta el email y las órdenes en pantallas pequeñas */
  }
  .navbar {
    flex-direction: row-reverse;
}

}
@media (max-width: 767px) {
  .navbar {
    flex-direction: row-reverse;
}

}
