.footer {
  background-color: #003366;
  color: white;
  text-align: center;
  padding: 20px;
  position: relative;
  height: 200px;
}

.footer p {
  margin: 0;
}
.logo-Footer {
  height: 100px; /* Puedes ajustar la altura según sea necesario */
  max-height: 100px; /* Asegúrate de que el logo no sea demasiado grande */
  position: relative; /* Asegúrate de que el z-index tenga efecto */
  z-index: 1001; /* Asegúrate de que el logo esté por encima del navbar */
  display: flex;
  position: relative;
  padding-bottom: 20px;

}
  
.social-icons {
  margin: 16px 5px;
  margin-right: 222px;

}

.social-icons a {
  margin: 0 10px;
  display: inline-block;
}

.social-icons img {
  width: 24px;
  height: 24px;
}

.contact-container {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.contact-link {

  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
}

.contact {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid transparent;
  border-radius: 30px;
  background-color: rgb(7, 94, 84);
  color: rgb(255, 255, 255);
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 15px;
  line-height: 1;
  letter-spacing: 0.04em;
  padding: 10px 15px;
  text-decoration: none;
  -webkit-font-smoothing: initial;
}

.contact img {
  width: 50px;
  height: 50px;
  margin-right: 8px;
  z-index: 1000;
}

.cuadrowhasap {
  width: 166px;
  background-color: #FFF;
  color: #075E54;
  text-align: center;
  border-radius: 6px;
  padding: 18px 22px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 5%;
  margin-left: -60px;
  border-color: #075E54;
  border-width: 5px;
  border-style: solid;
  display: none; /* Oculta el texto inicialmente */
}

.contact-container:hover .cuadrowhasap {
  display: block;
}
.H2-Footer{
font-size: medium;
color: #ffffff; 
font-weight: 700;
font-size: 20px;
margin-bottom: 10px;
margin-top: 10px;
}
/* Responsive adjustments */
@media (max-width: 640px) {
  .pfotter {
    text-align: left;
  }
  .footer {
    background-color: #003366;
    color: white;
    text-align: left;
    padding: 20px;
    height: 690px;
    width: auto;
    text-align: center;
  }
}
